<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Modules - Online Browsing</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<header>
    <h1>Learning Modules</h1>
</header>

<nav>
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="modules">Modules</a></li>
        <li><a href="quiz">Quiz</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="users/register">Register</a></li>
        <li><a href="users/login">Login</a></li>
        <li><a href="search"></a></li>
        <li><a href="users/logout">Logout</a></li>
    </ul>
</nav>