<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Cybersecurity Awareness</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body id="login-page"> <!-- Add unique id for the whole login page -->

  <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="modules">Modules</a></li>
        <li><a href="quiz">Quiz</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="users/login">Login</a></li>
    </ul>
  </nav>

  <div class="login-container"> <!-- Added class for login page container -->
    <div class="form-container">
        <h2>Login</h2>
        <form action="/users/login" method="POST">
          <input type="text" name="username" id="username" class="login-input" placeholder="Enter Username" required>
          <input type="password" name="password" id="login-password" class="login-input" placeholder="Enter Password" required>
          <button type="submit" class="login-button">Login</button>
      </form>      
        <p class="register-link">Don't have an account? <a href="/users/register">Register here</a></p>
    </div>
  </div>

</body>
</html>
