<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Modules - Cybersecurity Awareness</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<header>
    <h1>Learning Modules</h1>
</header>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="modules">Modules</a></li>
        <li><a href="quiz">Quiz</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="users/login">Login</a></li>
    </ul>
</nav>

<main>
    <section class=modules-container>
        <h2>Expore our Cybersecurity Modules</h2>
        <p>Enhance your knowledge of online security with our interactive learning modules.</p>
    <ul>
        <li><a href="/modules/pwsecurity.ejs"><strong>Module 1:</strong> Password Security</a> - Learn how  to create and manage strong passwords.</li>
        <li><a href="/modules/phishing.ejs"><strong>Module 2:</strong> Phishing Awareness</a> - Identify and protect yourself from phishing scams.</li>
        <li><a href="/modules/browsing.ejs"><strong>Module 3:</strong> Safe Browsing Practices</a> - Understand best practices for secure online browsing.</li>
        <li><a href="/modules/socialeng.ejs"><strong>Module 4:</strong> Social Engineering</a> - Recognise manipulation tactics used by cybercriminals.</li>
        <li><a href="/modules/twofactor.ejs"><strong>Module 5:</strong> Two-Factor Authentication</a> - Add an extra layer of security to your accounts.</li>
        
    </ul>
</main>

<footer>
    <p>&copy; 2025 Cybersecurity Awareness Platform</p>
</footer>

</body>
</html>