<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Cybersecurity Awareness</title>
    <link rel="stylesheet" href="/main.css">
</head>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="modules">Modules</a></li>
        <li><a href="quiz">Quiz</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="users/login">Login</a></li>
    </ul>
</nav>

<body>
    <div class="form-container">
        <h2>Register</h2>
        <form id="register-form">
            <input type="text" id="username" placeholder="Enter Username" required>
            <input type="email" id="email" placeholder="Enter Email" required>
            <input type="password" id="password" placeholder="Enter Password" required>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="login.ejs">Login here</a></p>
    </div>

</body>
</html>